.example-container {
    position: relative;
    padding: 15px;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flotante {
    width:60px;
    height:60px;
    border-radius:100%;
    background:#F44336;
    right:0;
    bottom:0;
    position: fixed;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s; 
  }

  .card {
    margin: 15px;
    max-width: 300px;
    float: left;
  }

  .col-md-3 {
    grid-column: 3;
  }